@charset "utf-8";


html {
    background-color: rgb(234,231,222);
}

header {
    width: 100%;
    height: 180px;
    max-width: 1053px;
}

body {
    margin-left: auto;
	margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 1053px;
}


.footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    clear: both;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*Footer css*/

footer {
	text-align: left;
	font-size: 0.9em;
	margin-top: 30%;
	border-top: 3px outset beige;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	clear: both;
	padding-bottom: 30px;
}



